.bt-left{
    color: white;
    text-align: center;
    background-color: rgb(141, 0, 0);
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 30px 0px;
}

.bt-right{
    color: white;
    text-align: center;
    background-color: rgb(42, 0, 0);
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 30px 0px;
}