<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Aula 4 - Ngif e Ggfor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">

    <ion-button color="success" routerLink="/ngpage">
      <ion-icon slot="start" name="extension-puzzle-outline"></ion-icon>
      Ngpage
    </ion-button>

    <ion-button color="success" routerLink="/filmes">
      <ion-icon slot="start" name="extension-puzzle-outline"></ion-icon>
      Filmes
    </ion-button>

  </div>
</ion-content>
