.img-doce {
  max-width: 500px;
  margin: 0 auto;
}

.descricao-doce {
  color: rgb(56, 56, 56);
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.footer-doce {
  background-color: #c8a2c8;
  font-weight: bold;
}

.button-doce {
  color: #c8a2c8
}